/* Links Hover Underline */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

/* Navigation bar top left */
.nav-left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: none;
}

.nav-left li {
    float: left
}

.nav-left li a {
    display: block;
    padding: 8px 5px;
    background-color: none;
}

.nav-left, ul, li, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    line-height: 3;
    margin-left: 5px;
}

/* Navigation bar top right */
.nav-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: none;
}

.nav-right li {
    float: right
}

.nav-right li a {
    display: block;
    padding: 8px 5px;
    background-color: none;
}

.nav-right, ul, li, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    line-height: 3;
    margin-left: 5px;
}

.nav-right .button {
    background-color: rgb(70, 143, 226);
    color: white;
    border-color: rgb(70, 143, 226);
    border: 1px;
    padding: 8px 16px;
}

/* Navigation end */

.center {
    display: block;
    padding: 10px 5px;

}

