/* Top Navigation Bar */

#top-navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 3;
}

.nav-left ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav-left li {
    float: left;
}

.nav-left li a {
    margin-left: 5px;
    display: inline-block;
    padding: 8px 5px;
}


.nav-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 3;
}

.nav-right li {
    float: right
}

.nav-right li a {
    margin-right: 5px;
    display: block;
    padding: 8px 5px;
}

.nav-right .button {
    background-color: rgb(70, 143, 226);
    color: white;
    border-color: rgb(70, 143, 226);
    border: 1px;
    padding: 8px 16px;
}


/* Hover */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

.appsicon:hover, .searchbar:hover, .buttons:hover {
    opacity: 1;
}

.search-button:hover, .lucky-button:hover {
    opacity: 1;
    border: 1px solid rgb(202, 202, 202);
}

/* Others */

.appsicon {
    opacity: 0.7;
}

.center {
    display: block;
    padding: 10px 5px;

}

.bold {
    font-weight: bold; 
}

.shadow {
    box-shadow: 1px 1px 5px 1px rgb(161, 161, 161);
}


/* Main Google Body */

#logo {
    margin-top: 300px;
}

#google {
    position: fixed;
    text-align: center;
    width: 100%;
    margin: 185px 0 0 0;
}

.searchbar {
    width: 600px;
    height: 40px;
    margin: 20px;
    border: black;
    opacity: 0.8;
}

.search-button {
    height: 40px;
    width: 120px;
    opacity: 0.7;
    background-color: rgb(241, 241, 241);
    border: 1px solid transparent;
}

.lucky-button {
    height: 40px;
    width: 135px;
    opacity: 0.7;
    background-color: rgb(241, 241, 241);
    border: 1px solid transparent;
}

.voice-input {
    height: 20px;
    position: absolute;
    top: 135px;
    right: 680px;
}

/* Bottom Navigation Bar */

#footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(241, 241, 237);
}

.footer-text {
    color: rgb(117, 110, 99)
}

.left-footer ul, .right-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left-footer li {
    float: left;
}

.right-footer li {
    float: right;
}

.left-footer li a {
    margin-left: 30px;
    display: block;
    padding: 3px;
}

.right-footer li a {
    margin-right: 30px;
    display: block;
    padding: 3px;
}